/* You can add global styles to this file, and also import other style files */
@import 'material_theme';
@import 'variables';

html {
  height: 100%;
  margin: 0;
  padding: 0;
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    pre {
      word-wrap: normal;
    }
    app-root {
      height: 100%;
      display: block;
      *:focus {
        outline: none;
      }
    }
  }
}
